.head-bar {
    background-color: #DD2727;
}

.head {
    width: 200px;
    height: 36px;
    background-color: #C60A0A;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 119px;
    display: inline-block;
}

.right-menu a {
    margin: 0px 20px;
    color: #ffffff;
    font-size: 16px;
}

.right-menu a:hover {
    text-decoration: none;
}

.right-menu img {
    height: 30px;
}

.carousel-product {
    width: 1024px;
    height: 510px;
    margin: 0px auto;
}