.footer {
    border-top: 1px solid #e7e7e7;
}

.div-ensure {
    margin: 24px auto;
    text-align: center;
}

.footer_desc {
    padding-top: 30px;
    margin: 0px auto;
    width: 1024px;
}

.horizontal_line {
    border-top: 1px solid #e7e7e7;
}

.descColumn {
    float: left;
    width: 20%;
}

a {
    display: block;
    margin-top: 3px;
    color: #999999;
}

.descColumnTitle {
    font-weight: bold;
    font-size: 16px;
    color: #646464;
}

a:hover {
    color: #c40000;
    text-decoration: none;
}